
.caja_mayor{
width: 100%;

}
.alinear_cal{
	display: inline-block;
}
.caja_calificar{
	width: 40%;
	
	margin-top: 1%;
	margin-right:2%;
}
.img_cal{
	float: left;
	margin-right: 5%;
}
.caja_mov{
	float: right;
	width: 30%;
}
.caja_cal_pil{
	border: 1px solid #ccc;
	padding: 2%;
	box-sizing: border-box;
	margin-top: 2%;
	width: 65%;
	
}


