.cartel{
	width: 50%;
	height: 250px;
	border:1px solid #ccc;

	margin: 0 auto;/** centrar***/
	position: absolute;
	margin-left: 10%;
	margin-top: 6%;
}
.div-bttn-ok{
	margin-top: 8%;
}
.icon-checkmark2{
	width: 50%;
	height: 50%;
}
.div-externo{
	background-color: #fff;
	border-radius: 2%;
	border-color: #17202A;
}
.div-interno{
	margin-top: 1%;

	width: 85%;
	height: 32%;
	margin-left: 7%;
	border-radius: 2px;
	border-color: #F1C40F;
	background-color:  #C0392B  ;
}
.bttn-ok{
	width: 50px;
    margin-left: 94.5%;
}
.texto{
	margin-left: 40%;
	margin-top: 10%;
	font-style: italic;
	color:  #fff;
}