.cartel_error{
	position: absolute;
	background-color: #D50404;
	width: 78%;
	height: 200px;
	position: fixed;
	margin: -7.7%;
	margin-top: -10%;
	border-radius: 5px;
}
.cartel_p{
	margin-top: 6%;
	font-size: 2em;
	color: #fff;
	text-align: center;
	font-family: DejaB;
}
.icon-cancel-circle{
	color: #fff;
	font-size: 1.6em;
	cursor: pointer;
	float: right;
	margin: 1%;
}
.cambiar_color{
	background-color: #199D05;
}


.cartel_error_2{
	position: absolute;
	background-color: #D50404;
	width: 70%;
	height: 210px;
	position: fixed;
	margin: -7.7%;
	margin-top: -5%;
	border-radius: 5px;
}

