*{
	margin: 0 ;
	padding: 0;
}


/*html
{
    position: relative; 
    min-height: 100%;
    font-family: lucina;
}*/

html {
  min-height: 100%;
  position: relative;
  font-family: lucina;
}
body {
  margin: 0;
  margin-bottom: 50px;
  background-image: url(../fondos/f4.png);
background-size: 70px 70px;
}
/*body{
	margin: 0 0 65px;
	background-image: url(../fondos/f4.png);
	background-size: 70px 70px;
	opacity: 50;
}*/


.todo_blanco{
	outline: none;
	border: none;
}
#logo{
	
	width: 25%;
	height: 70px;
	background-image: url(../fondos/Logo.jpg);
	background-size: 80px 80px;
	background-repeat: no-repeat;
	display: inline-block;
	border-radius: 10px;


}
header nav{/*ACCEDO AL HEADER LUEGO AL NAV, ASI DARLE ATRIBUTOS AL NAV*/

	
	 /*float especifica si una caja (un elemento) debe flotar,
				dejando de pertenecer al flujo normal de la página.
				Valores permitidos: none, left, right, initial*/
	margin: auto;
	box-sizing: border-box;
	
	width: 74%;


		
}

ul{
	list-style: none;
}


a{
	text-decoration: none;
}
input,textarea,select{
	outline: none;
	border-radius: 5px;
	border: 1px solid #ccc; 
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	
}



.margen-abajo{
	margin-bottom: 3%;
}
button{
	cursor: pointer;
	 border: none;

}
.center{
	margin:0 auto;
}
.f-blanco{
background-color: #fff;
}

.color-a{
	color: #EC4A67;
}
.a-link{
/*padding: 10px;*/
border-radius: 5px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    transition: all .3s;
    font-size: 1.2em;
}
.btn-link:hover{
-webkit-box-shadow: 0px 0px 4px 1px rgba(167,207,217,0.9);
-moz-box-shadow: 0px 0px 4px 1px rgba(167,207,217,0.9);
box-shadow: 0px 0px 4px 1px rgba(167,207,217,0.9);
	

}
.fondo-blue{
	background-color: #19A7C7;

}
.text-white{
	color: #fff;
}
