.article_exterior{
	margin: 0 auto;
	width: 96%;
	border: 1px solid #ccc;
	padding: 1%;
	margin-top: 2%;
	border-radius: 10px;
	background-color: #fff;
	background:  #C0392B; 
	border-color: #17202A;
}
.article_interior{
	margin: 0 auto;
	width: 90%;
	border: 1px solid #ccc;
	padding: 1%;
	margin-top: 2%;
	border-radius: 10px;
	background-color: #fff;
	border-color: #ccc;
}
.div_incio{
	margin: 0 auto;
	width: 90%;
	
	border: 1px solid #BFC5CB;;
	padding: 1%;
	margin-top: 2%;
	border-radius: 5px;
	background-color: #fff;
	background: #fff; 
}
.Td-a{
	margin-right: 50%;

}
