section{
	width: 100%;

}
.mi-perfil{
	width: 82%;
	margin-top: 5%;
	border-radius: 5px;
	border:1px solid #ccc;
	padding: 3%;
	border-color: #fff;

}


.p-perfil{
	line-height: 2.5em;
}
.h1-perfil{
	font-size: 2.5em;
}
.d-perfil{
	display: inline-block;
	width: 50%;
}
.btn-link{
	padding: 1%;
	width: 22%;
	border-radius: 7px;

}

.linea{
	display: inline-block;
	margin-bottom: 0.5%;
	margin-left:  30%;
}
.mov{
	position: absolute;
	width: 70%;
	margin-left:  40%;
	
}
.menu{
	width: 90%;
	position: relative;

}

.caja_img{
	display: block;
	width: 50%;

	
}
.linea{
background-color: #ccc;
font-size: 0.9em;
color: #000;
}
.lin{

}
.img_previo{
	width: 70%;
	height: 190px;
	border-radius: 10px;
	display: block;
	cursor: pointer;
}
.separador{
	width: 97%;
	height: 250px;
	border: 1px dotted #ccc;
	padding: 1%;
	border-radius: 5px;
	margin-top: 2%;
}
.btn-img{
	margin-top: 1.5%;
	width: 30%;
	font-size: 0.8em;
}
.btn-a{
	padding: 7px;
	color: #fff;
	border-radius: 5px;
}
.edit{
	float: right;

}
.falso_input{
	width: 70%;
	height: 30px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #000;
	text-align: center;
	font-size: 0.8em;
	cursor: pointer;
	margin-top: 1%;
	padding: 1%;
	color: #000;
	border:1px solid #ccc;
	background-color: #F5F2F2;

}
