.article_exterior{
	margin: 0 auto;
	width: 95%;
	border: 1px solid #ccc;
	padding: 1%;
	margin-top: 2%;
	border-radius: 5px;
	background-color: #fff;
	background:  #C0392B; 
}
.article_interior{
	margin: 0 auto;
	width: 97%;
	border: 1px solid #ccc;
	padding: 1%;
	margin-top: 2%;
	border-radius: 5px;
	background-color: #fff;
}
.div_incio{
	margin: 0 auto;
	width: 70%;
	border: 1px solid #ccc;
	padding: 1%;
	margin-top: 2%;
	border-radius: 5px;
	background-color: #fff;
	background: #D98880; 
}
.Td-a{
	margin-right: 50%;

}
.scrollable{
    height: 450px;
    overflow: auto;

}
.origen_destino{
	font-style: italic;
	color: #FDFEFE  ;
}
