@font-face{
	font-family: calibri;
	src: url(fuentes/calibri.ttf);
}
@font-face{
	font-family: cambria;
	src: url(fuentes/cambria.ttf);
}
@font-face{
	font-family: lucina;
	src: url(fuentes/lucina.ttf);
}